#main-contacto {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    padding-top: 20px;
    padding-bottom: 20px;
}

#formulario-contacto h2 {
    text-align: center;
}

#formulario-contacto>form>div>label>input {
    margin: 10px;
}

#formulario-contacto>form>div>label>input:focus {
    transform: scale(1.25);
    background-color: rgb(248, 9, 9);
}

#formulario-contacto>form>div>label>input:valid {
    background-color: rgb(24, 233, 24);
    color: black;
}

.field {
    display: grid;
    grid-template-columns: max-content 1fr;
    column-gap: 5px;
    margin-bottom: 5px;
}

.span-text {
    width: 100px;
}