#main-contacto {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    padding-top: 20px;
    padding-bottom: 20px;
}

#formulario-contacto {
    text-align: center;
}

#formulario-contacto>form>div>input {
    margin: 10px;
}

#formulario-contacto>form>div>input:focus {
    width: 30%;
    background-color: rgb(248, 9, 9);
}

#formulario-contacto>form>div>input:valid {
    background-color: rgb(24, 233, 24);
    color: black;
}